/* ================================== */
/* /src/pages/UsersPage.css     */
/* ================================== */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.page-title {
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--gray-800);
}

.add-button {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

    .add-button:hover {
        background-color: #0077e1;
    }

.add-button-icon {
    margin-right: 0.5rem;
}
